<!doctype html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      <head th:replace="~{fragmentos :: head}"></head>
  
  <body>
      <header th:replace="~{fragmentos :: header}"></header>
    <h1>Categorias</h1>


    <table class="container">
        <thead>
            <tr>
               
               
                <th>Nome da categoria</th>
                <th>editar</th>
                <th>Deletar</th>

                
            </tr>
        </thead>
        <tbody>
            <tr th:each="categoria : ${categorias}">
                <div class="row">

                    <td><span th:text="${categoria.nome}"></span></td>
                    <td><a th:href="${(#mvc.url('CC#detalhesCategoria').arg(0, categoria.id)).build()}"><span th:text="${categoria.nome}"></span></a></td>
                    <td><a th:href="${(#mvc.url('CC#deletarCategoria').arg(0, categoria.id)).build()}">deletar</a></td>
  
                </div>
            </tr>
        </tbody>
        <tfoot>
            <!--
            <tr>
               <td colspan="2">Totalizador</td>
               <td>  <span id="2"
                th:text="${#aggregates.sum(contas.![saldo])}"> </span></td>
        
            </tr>-->
          </tfoot>    

    </table>


  



<footer th:replace="~{fragmentos :: footer}"></footer>
