<!doctype html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      <head th:replace="~{fragmentos :: head}"></head>
  
  <body>
      <header th:replace="~{fragmentos :: header}"></header>
    <h1>Contas</h1>


    <table class="container">
        <thead>
            <tr>
               
               
                <th>Nome da conta</th>
                <th>saldo</th>
                <th>editar</th>
                <th>Deletar</th>

                
            </tr>
        </thead>
        <tbody>
            <tr th:each="conta : ${contas}">
                <div class="row">

                    <td><span th:text="${conta.nomeConta}"></span></td>
                    <td><span th:text="${conta.saldo}"></span></td>
                    <td><a th:href="${(#mvc.url('CC#detalhesConta').arg(0, conta.idConta)).build()}"><span th:text="${conta.nomeConta}"></span></a></td>
                    <td><!--<a th:href="${(#mvc.url('TC#deletarTransacao').arg(0, transacao.idTransacao)).build()}">deletar</a>!--></td>
  
                </div>
            </tr>
        </tbody>
        <tfoot>
            <tr>
               <td colspan="2">Totalizador</td>
               <td>  <span id="2"
                th:text="${#aggregates.sum(contas.![saldo])}"> </span></td>
        
            </tr>
          </tfoot>    

    </table>






    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>