<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      <head th:replace="~{fragmentos :: head}"></head>
  
  <body>
      <header th:replace="~{fragmentos :: header}"></header>
        <h1>EDITAR Categoria</h1>
        <div>
            <div th:each="categoria : ${categoria}" class="container">
                <div class="row">
                 
                    <form action="" method="post">
                        Nome da categoria: <input type="text" name="nome" id="" th:value="${categoria.nome}" />
                        <button class="waves-effect waves-light btn" type="submit">Alterar nome</button>
                    </form>
                </div>
            

            </div>

            <hr>
            
            <div class="container">
                <h5>lista de transaçõesssss</h5>
                <div class="row" th:each="transacao : ${transacoes}">
                    
                    <div ckass="input-field col s6">
                        <p><span th:text="${transacao.descricao}"></span></p>
                    </div>

                    <div ckass="input-field col s3">
                        <p><span th:text="${transacao.valor}"></span></p>
                    </div>
                        <!-- <a th:href="${(#mvc.url('EC#deletarConvidado').arg(0, convidado.telefone)).build()}" target="_blank"><i class="material-icons left">delete_forever</i></a> !-->
                </div>
            
        </div>
        <footer th:replace="~{fragmentos :: footer}"></footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>