<!doctype html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      <head th:replace="~{fragmentos :: head}"></head>
  
  <body>
      <header th:replace="~{fragmentos :: header}"></header>
<h2>Cadastrar nova transação</h2>
<form action="" method="post">
Descrição da Transação: <input type="text" name="descricao" id="">
Valor: <input type="number" name="valor" id="">
Tipo de Transação: 
<select name="tipoDeTransacao">
    <option th:each="tipoDeTransacaoOpt : ${T(br.com.adev.appfinancas.model.TipoDeTransacao).values()}" 
        th:value="${tipoDeTransacaoOpt}" th:text="${tipoDeTransacaoOpt}" th:selected="${tipoDeTransacaoOpt==tipoDeTransacaoOpt.DESPESA}" th:disabled="${tipoDeTransacaoOpt==tipoDeTransacaoOpt.TRANSFERENCIA}"></option>
     
</select>

Categoria: 
<select name="id">
    <option th:each="categoria : ${categorias}" th:value=${categoria.id} th:text="${categoria.nome}">
    </option>
</select>

Conta:
<select name="idConta">
    <option th:each="conta : ${contas}" th:value=${conta.idConta} th:text="${conta.nomeConta}">
    </option>
</select>



<button type="submit">Salvar</button>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<footer th:replace="~{fragmentos :: footer}"></footer>
</body>
</html>